parameters:
	ignoreErrors:
		-
			message: "#^Instanceof between string\\|null and DateTimeInterface will always evaluate to false\\.$#"
			count: 1
			path: Classes/Domain/Finishers/AbstractTransferFinisher.php
