parameters:
	ignoreErrors:
		-
			message: "#^Method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\Finishers\\\\AbstractTransferFinisher\\:\\:executeInternal\\(\\) should return string\\|null but return statement is missing\\.$#"
			count: 1
			path: Classes/Domain/Finishers/AbstractTransferFinisher.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\Finishers\\\\AbstractTransferFinisher\\:\\:injectIdGenerator\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Finishers/AbstractTransferFinisher.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\Finishers\\\\AbstractTransferFinisher\\:\\:injectVariableResolver\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Finishers/AbstractTransferFinisher.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\Finishers\\\\AbstractTransferFinisher\\:\\:resolveFormFields\\(\\) has parameter \\$formValues with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Finishers/AbstractTransferFinisher.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\Finishers\\\\AbstractTransferFinisher\\:\\:resolveFormFields\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: Classes/Domain/Finishers/AbstractTransferFinisher.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\Preparers\\\\FormFieldValuesPreparer\\:\\:convertArrayToCsv\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Preparers/FormFieldValuesPreparer.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\Preparers\\\\FormFieldValuesPreparer\\:\\:prepareForSubstitution\\(\\) has parameter \\$fieldElements with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Preparers/FormFieldValuesPreparer.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterBase\\\\Domain\\\\Preparers\\\\FormFieldValuesPreparer\\:\\:prepareForSubstitution\\(\\) has parameter \\$fieldsWithValues with no value type specified in iterable type array\\.$#"
			count: 1
			path: Classes/Domain/Preparers/FormFieldValuesPreparer.php

		-
			message: "#^Parameter \\#1 \\$fp of function fputcsv expects resource, resource\\|false given\\.$#"
			count: 1
			path: Classes/Domain/Preparers/FormFieldValuesPreparer.php

		-
			message: "#^Parameter \\#1 \\$fp of function rewind expects resource, resource\\|false given\\.$#"
			count: 1
			path: Classes/Domain/Preparers/FormFieldValuesPreparer.php

		-
			message: "#^Parameter \\#1 \\$source of function stream_get_contents expects resource, resource\\|false given\\.$#"
			count: 1
			path: Classes/Domain/Preparers/FormFieldValuesPreparer.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Domain/Preparers/FormFieldValuesPreparer.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/VariableResolvers/CorrelationIdVariableResolver.php

		-
			message: "#^Parameter \\#1 \\$haystack of function str_contains expects string\\|null, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/VariableResolvers/JobRouterLanguageVariableResolver.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/VariableResolvers/JobRouterLanguageVariableResolver.php

		-
			message: "#^Parameter \\#1 \\$haystack of function str_contains expects string\\|null, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/VariableResolvers/LanguageVariableResolver.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match_all expects string, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/VariableResolvers/LanguageVariableResolver.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/VariableResolvers/LanguageVariableResolver.php

		-
			message: "#^Use local named constant instead of inline string for regex to explain meaning by constant name$#"
			count: 1
			path: Classes/Domain/VariableResolvers/LanguageVariableResolver.php

		-
			message: "#^Parameter \\#1 \\$haystack of function str_contains expects string\\|null, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/VariableResolvers/LocalisedLabelVariableResolver.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match_all expects string, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/VariableResolvers/LocalisedLabelVariableResolver.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, int\\|string given\\.$#"
			count: 1
			path: Classes/Domain/VariableResolvers/LocalisedLabelVariableResolver.php

		-
			message: "#^Use local named constant instead of inline string for regex to explain meaning by constant name$#"
			count: 1
			path: Classes/Domain/VariableResolvers/LocalisedLabelVariableResolver.php
