<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Widget/Widget" />

<f:section name="title">
    <f:translate key="{configuration.title}"/>
    <f:variable name="errorCount" value="{items -> f:count()}"/>
    <b class="badge badge-{f:if(condition: '{errorCount} == 0', then: 'success', else: 'danger')}">{errorCount}</b>
</f:section>

<f:section name="main">
    <f:if condition="{items -> f:count()} > 0">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="widget-table table table-striped table-hover">
                    <tr>
                        <th><f:translate key="LLL:EXT:jobrouter_base/Resources/Private/Language/Dashboard.xlf:creationDate"/></th>
                        <th><f:translate key="LLL:EXT:jobrouter_base/Resources/Private/Language/Dashboard.xlf:message"/></th>
                        <th><f:translate key="LLL:EXT:jobrouter_base/Resources/Private/Language/Dashboard.xlf:correlationId"/></th>
                    </tr>
                    <f:for each="{items}" as="item">
                        <tr>
                            <td><f:format.date format="{f:translate(key: 'LLL:EXT:jobrouter_base/Resources/Private/Language/General.xlf:dateFormat')} {f:translate(key: 'LLL:EXT:jobrouter_base/Resources/Private/Language/General.xlf:timeFormat')}" date="{item.creationDate}"/></td>
                            <td>{item.message}</td>
                            <td>{item.correlationId}</td>
                        </tr>
                    </f:for>
                </table>
            </div>
        </f:then>
        <f:else>
            <p class="widget-transfer-report__no-error">
                <span class="widget-transfer-report__no-error-icon"><core:icon identifier="jobrouter-base-status-successful" size="large" alternativeMarkupIdentifier="inline"/></span>
                <f:translate key="LLL:EXT:jobrouter_base/Resources/Private/Language/Dashboard.xlf:noErrors"/>
            </p>
        </f:else>
    </f:if>
</f:section>

</html>
